process {
    withName: 'SEQKIT_SEQ' {
        ext.args = [
            params.fq_filter_by_len ? "-m ${params.fq_filter_by_len}" : ''
        ].join(' ').trim()
    }

    if (params.fastp_run) {
        withName: 'FASTP' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}fastp.nf").fastpHelp(params).helpparams
            )
        }
    }

    if (params.megahit_run) {
        withName: 'MEGAHIT_ASSEMBLE' {
            errorStrategy = 'ignore'
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}megahit.nf").megahitHelp(params).helpparams
            )
        }
    }

    if (params.minimap2_run) {
        withName: 'MINIMAP2_ALIGN' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}minimap2.nf").minimap2Help(params).helpparams
            )
        }
    }

    if (params.semibin2_single_easy_bin_run) {
        withName: 'SEMIBIN2_SEB' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}semibin2seb.nf").semibin2sebHelp(params).helpparams
            )
        }
    }

    if (params.vambbindef_run) {
        withName: 'VAMB_BIN_DEF' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}vambbindef.nf").vambbindefHelp(params).helpparams
            )
        }
    }

    // if (params.metadecoder_run) {
    //     withName: 'METADECODER' {
    //         ext.args = '--bin_size 3000'
    //     }
    // }

    if (params.metabat2_run) {
        withName: 'METABAT2' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}metabat2.nf").metabat2Help(params).helpparams
            )
        }
    }

    if (params.binette_run) {
        withName: 'BINETTE' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}binette.nf").binetteHelp(params).helpparams
            )
        }
    }

    if (params.coverm_genome_run) {
        withName: 'COVERM_GENOME' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}covermgenome.nf").covermgenomeHelp(params).helpparams
            )
        }
    }

    if (params.gtdbtk_classify_wf_run) {
        withName: 'GTDBTK_CLASSIFY_WF' {
            containerOptions = "--env GTDBTK_DATA_PATH=${params.gtdbtk_classify_wf_data_path}"
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}gtdbtkclassifywf.nf").gtdbtkclassifywfHelp(params).helpparams
            )
        }
    }

    if (params.amrfinderplus_run) {
        withName: 'AMRFINDERPLUS_RUN' {
            ext.args = addParamsToSummary(
                loadThisFunction("${params.toolshelp}${params.fs}amrfinderplus.nf").amrfinderplusHelp(params).helpparams
            )
        }
    }

    withName: 'GENOMAD_ENDTOEND' {
        ext.args = '--enable-score-calibration'
    }
}

// Method to instantiate a new function parser
def loadThisFunction (func_file) {
    GroovyShell grvy_sh = new GroovyShell()
    def func = grvy_sh.parse(new File ( func_file ) )
    return func
}

// Method to add relevant final parameters to summary log
def addParamsToSummary(Map params_to_add = [:]) {

    if (!params_to_add.isEmpty()) {
        def not_null_params_to_add = params_to_add.findAll {
            it.value.clivalue != null && 
                it.value.clivalue != '[:]' &&
                it.value.clivalue != ''
        }

        params.logtheseparams += not_null_params_to_add.keySet().toList()

        return not_null_params_to_add.collect {
            "${it.value.cliflag} ${it.value.clivalue.toString().replaceAll(/(?:^\s+|\s+$)/, '')}"
        }.join(' ').trim()
    }
    return 1
}