params {
    workflow_conceived_by = 'Kranti Konganti'
    workflow_built_by = 'Kranti Konganti'
    workflow_version = '0.5.0'
    strata_size = 15
    multi_sample_strata = true
    fastp_run = true
    fastp_failed_out = false
    fastp_merged_out = false
    fastp_overlapped_out = false
    fastp_6 = false
    fastp_reads_to_process = 0 
    fastp_fix_mgi_id = false
    fastp_A = false
    fastp_f = 0
    fastp_t = 0
    fastp_b = 0
    fastp_F = 0
    fastp_T = 0
    fastp_B = 0
    fastp_dedup = true
    fastp_dup_calc_accuracy = 6
    fastp_poly_g_min_len = 10
    fastp_G = true
    fastp_x = false
    fastp_poly_x_min_len = 10 
    fastp_cut_front = true
    fastp_cut_tail = false
    fastp_cut_right = true
    fastp_W = 20
    fastp_M = 30
    fastp_q = 30
    fastp_u = 40
    fastp_n = 5
    fastp_e = 0
    fastp_l = 35
    fastp_max_len = 0
    fastp_y = true
    fastp_Y = 30
    fastp_U = false
    fastp_umi_loc = false
    fastp_umi_len = false
    fastp_umi_prefix = false
    fastp_umi_skip = false
    fastp_p = true
    fastp_P = 20
    fastp_use_custom_adapters = false
    fastp_adapter_fasta = (params.fastp_use_custom_adapters ? "${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'adaptors.fa' : false)
    megahit_run = true
    megahit_min_count = false
    megahit_k_list = false
    megahit_no_mercy = false
    megahit_bubble_level = false
    megahit_merge_level = false
    megahit_prune_level = false
    megahit_prune_depth = false
    megahit_low_local_ratio = false
    megahit_max_tip_len = false
    megahit_no_local = false
    megahit_kmin_1pass = false
    megahit_preset = 'meta-sensitive'
    megahit_mem_flag = 2
    megahit_min_contig_len = false
    minimap2_run = true
    minimap2_bam_format = true
    minimap2_H = false
    minimap2_k = false
    minimap2_w = false
    minimap2_I = false
    minimap2_f = false
    minimap2_g = false
    minimap2_G = false
    minimap2_F = false
    minimap2_r = false
    minimap2_n = false
    minimap2_m = false
    minimap2_X = false
    minimap2_p = false
    minimap2_N = false
    minimap2_A = false
    minimap2_B = false
    minimap2_O = false
    minimap2_E = false
    minimap2_z = false
    minimap2_s = false
    minimap2_u = false
    minimap2_J = false
    minimap2_c = !params.minimap2_bam_format
    minimap2_L = (params.minimap2_bam_format && params.minimap2_c)
    minimap2_cs = false
    minimap2_ds = false
    minimap2_MD = false
    minimap2_eqx = false
    minimap2_Y = false
    minimap2_K = false
    minimap2_x = 'sr'
    semibin2_single_easy_bin_run = true
    semibin2_seb_write_pre_reclustering_bins = false
    semibin2_seb_no_write_pre_reclustering_bins = false
    semibin2_seb_compression = 'none'
    semibin2_seb_orf_finder = false
    semibin2_seb_depth_metabat2 = false
    semibin2_seb_environment = 'global'
    semibin2_seb_min_len = 3000
    semibin2_seb_ratio = false
    semibin2_seb_cannot_name = false
    semibin2_seb_taxonomy_annotation_table = false
    semibin2_seb_epochs = false
    semibin2_seb_batch_size = false
    semibin2_seb_minfasta_kbs = false
    semibin2_seb_random_seed = false
    semibin2_seb_ml_threshold = false
    semibin2_seb_engine = false
    semibin2_seb_semi_supervised = false
    semibin2_seb_self_supervised = false
    semibin2_seb_sequencing_type = false
    semibin2_seb_max_edges = false
    semibin2_seb_max_node = false
    semibin2_seb_no_recluster = false
    vambbindef_run = true
    vambbindef_minlen = 3000
    vambbindef_norefcheck = false
    vambbindef_seed = false
    vambbindef_minfasta = 200000
    vambbindef_binsplit_separator = false
    // metadecoder_run = false
    // metadecoder_container = ( "${projectDir}"
    //     + File.separator
    //     + 'ahptainer_cache'
    //     + File.separator
    //     + 'metadecoder.sif')
    binette_run = true
    binette_checkm2_db = '/hpc/db/checkm2/latest'
    binette_min_bin_size = false
    binette_max_completeness = false
    binette_max_contamination = false
    binette_min_completeness = false
    binette_min_contamination = false
    binette_mode = false
    coverm_genome_run = true
    coverm_genome_dereplicate = false
    coverm_genome_fasta_extension = '.fa'
    coverm_genome_min_completeness = false // bug in coverm 0.7.0
    coverm_genome_max_contamination = false // bug in coverm 0.7.0
    coverm_genome_dereplication_ani = false
    coverm_genome_dereplication_aligned_fraction = false
    coverm_genome_dereplication_fragment_length = false
    coverm_genome_dereplication_quality_formula = false
    coverm_genome_dereplication_prethreshold_ani = false
    coverm_genome_dereplication_precluster_method = false
    coverm_genome_dereplication_cluster_method = false
    coverm_genome_dereplication_output_cluster_definition = false
    coverm_genome_dereplication_output_rep_fa_dir = false
    coverm_genome_dereplication_output_rep_fa_dir_copy = false
    coverm_genome_dereplication_output_rep_list = false
    coverm_genome_sharded = false
    coverm_genome_exclude_genomes_from_deshard = false
    coverm_genome_mapper = 'minimap2-sr'
    coverm_genome_minimap2_params = false
    coverm_genome_minimap2_reference_is_index = false
    coverm_genome_bwa_params = false
    coverm_genome_strobealign_params = false
    coverm_genome_strobealign_use_index = false
    coverm_genome_min_read_aligned_length = false
    coverm_genome_min_read_percent_identity = false
    coverm_genome_min_read_aligned_percent = false
    coverm_genome_min_read_aligned_length_pair = false
    coverm_genome_min_read_percent_identity_pair = false
    coverm_genome_min_read_aligned_percent_pair = false
    coverm_genome_proper_pairs_only = !params.fq_single_end
    coverm_genome_exclude_supplementary = false
    coverm_genome_include_secondary = false
    coverm_genome_methods = 'trimmed_mean'
    coverm_genome_min_covered_fraction = 10
    coverm_genome_contig_end_exclusion = 75
    coverm_genome_trim_min = 5
    coverm_genome_trim_max = 95
    metabat2_run = true
    metabat2_min_contig = false
    metabat2_min_small_contig = false
    metabat2_max_p = false
    metabat2_min_s = false
    metabat2_max_edges = false
    metabat2_p_tnf = false
    metabat2_no_add = false
    metabat2_min_recruiting_size = false
    metabat2_recruit_to_abd_centroid = false
    metabat2_recruit_with_tnf = false
    metabat2_full_header = false
    metabat2_min_cv = false
    metabat2_min_cv_sum = false
    metabat2_min_cls_size = false
    metabat2_num_threads = false
    metabat2_only_label = false
    metabat2_save_cls = false
    metabat2_unbinned = false
    metabat2_no_bin_out = false
    metabat2_no_sample_depths = false
    metabat2_seed = 27
    gtdbtk_classify_wf_run = true
    gtdbtk_classify_wf_x = (params.coverm_genome_fasta_extension ?: '.fa')
    gtdbtk_classify_wf_data_path = '/hpc/db/gtdb-tk/latest'
    gtdbtk_classify_wf_place_species = false
    gtdbtk_classify_wf_min_perc_aa = false
    gtdbtk_classify_wf_genes = false
    gtdbtk_classify_wf_force = false
    gtdbtk_classify_wf_scratch_dir = false
    gtdbtk_classify_wf_write_single_copy_genes = false
    gtdbtk_classify_wf_keep_intermediates = false
    gtdbtk_classify_wf_min_af = false
    gtdbtk_classify_wf_debug = false
    genomad_db = '/hpc/db/genomad/latest'
    amrfinderplus_run = false
    amrfinderplus_db = '/hpc/db/amrfinderplus/4.2.7/latest'
    amrfinderplus_genes = true
    amrfinderplus_protein_output = false
    amrfinderplus_nucleotide_output = false
    amrfinderplus_nucleotide_flank5_output = false
    amrfinderplus_nucleotide_flank5_size = 0
    amrfinderplus_translation_table = 11
    amrfinderplus_report_common = false
    amrfinderplus_report_all_equal = false
    amrfinderplus_ident_min = -1
    amrfinderplus_coverage_min = 0.5
    fq_filter_by_len = 0
    fq_suffix = (params.fq_single_end ? '.fastq.gz' : '_R1_001.fastq.gz')
    fq2_suffix = '_R2_001.fastq.gz'
    multiqc_run = true
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    METHOD TO GET PDG RELEASE AND SET REST OF THE METADATA FILES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

def getPDGRelease(db_path) {
	db_path_obj = new File( db_path )
	def pdg_release = []

	db_path_obj.eachDirRecurse {
		it.toString() =~ /PDG/ \
            ? pdg_release << it.toString().find(/PDG\d+\.\d+/) \
            : null
	}

	return pdg_release.unique().join('').toString()
}